/*CSS for the Homepage*/

/*
Building out a page structure
*/
.width{
    max-width: 100%;
}

.grid-frame {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    width: auto;
}

.contents-flex{
    grid-column: 2 / span 1;
}