/*CSS for the navbar*/

/*
styling the ul
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFFACD;
    opacity: 0.8;
}

li {
    display: inline;
}


/*
putting the padding layout here cause I can never remember it ':)
the padding property has 4 values - padding: top right bottom left
source: w3 schools
*/
li a {
    color:firebrick;
    text-align: center;
    display: inline-block;
    padding: 15px 20px 15px 20px;
    font-family: 'Playfair Display Bold', Verdana, sans-serif;
    font-style: italic;
}

li a:hover {
    background-color: #ffffe0;
}

