/*CSS for recipe page layout*/


/*
styling the loader
*/

.loader-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

#spinner {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    justify-self: center;

}

.recipe-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 10% 2fr 10%;
    grid-template-rows: 1fr 10%;
}

.recipes-center{
    grid-column: 2 / span 1;
    justify-content: center;
}